.col-md-6
    h4 {{listCtrl.key}}
    table.table.table-condensed.table-bordered
        thead
            tr
                th Timestamp
                th Tag
                th
        tbody
            tr(ng-repeat="item in listCtrl.keys")
                td {{item.timestamp}}
                td {{item.tag}}
                td
                    button.btn.btn-default(ng-click="listCtrl.selectItem(item.id)")
                        spam.glyphicon.glyphicon-eye-open
    ui(
    uib-pagination
    total-items="listCtrl.itemCount"
    ng-model="listCtrl.page"
    items-per-page="listCtrl.limit"
    ng-change="listCtrl.setPage()"
    max-size="5"
    boundary-links="true"
    )




.col-md-6
    div(ng-show="listCtrl.selectedItem")
        h4 Payload
        div(hljs source="listCtrl.selectedItem.payload" language="json")

